html {
  background-color: #b0b9d4;
  font-family: Arial, sans-serif;
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ededed;
  padding: 0.5rem;
}

h1 {
  text-align: center;
}

#game-panel {
  position: relative;
}

#game-panel canvas {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

#game-panel #pivot {
  width: 50px;
  height: 50px;
  background-color: rgba(255,0,0,0.5);
  position: absolute;
}

footer a, footer a:link, footer a:visited {
  color: black;
}